@media screen and (max-width:568px) {
    .Logo-name, .nav-menu, .btn-primary{
        display: none;
    }
        .navber {
            justify-content: space-between;
            align-items: center;
            margin: 10px 10px;
        }
        .hide{
            display: inline;
        }
        .horizontal-line{
            display: block;
        }
        .hero-section{
            flex-direction: column-reverse;
        }
        .hero-content{
            text-align: center;
        }
        .Curriculum-items{
            flex-direction: column;
            margin: 0px 50px;
        }
        .arrow{
            display: none;
        }
        .story-card{
            display: none;
        }
        .side-by-side-card{
            gap:14px;
            margin: 0px 10px;
        }
        .story-card-items{
            margin-bottom: 25px;
        }
        .footer-section{
            flex-direction: column;
            gap:32px;
            padding: 50px;
        }
    
}