@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-normal{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.raleway-paragraph {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
}
/* Navber Style Section */
.logo-management{
    display: flex;
    align-items: center;
}
.navber{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0px;
}
.nav-menu{
    display: flex;
    gap: 24px;
}
.nav-menu > li{
    list-style: none;
    cursor: pointer;
}
.nav-menu > li > a {
    text-decoration: none;
}
.Logo-name{
    font-size: 24px;
    font-weight: 700;
    color: black;
}
#home{
    color: orange;
    font-weight: 700;
}
#about{
    color: skyblue;
    font-weight: 500;
}
#facilities{
    color: rgba(5, 212, 223, 1);
    font-weight: 500;
}
#admission{
    color: rgba(93, 88, 239, 1);
    font-weight: 500;
}
.btn-primary{
    width: 9.23rem;
    padding: 10px;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.btn-primary:hover{
    background-color: white;
    border: 1px solid orange;
    color:orange;
}
.hide,  .horizontal-line{
    display: none;
}
/* hero section style */
.hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2.81rem;
}
.hero-content{
    max-width: 30rem;
}
.hero-img{
    max-width: 21.93rem;
}
.hero-img > img{
    width: 100%;
}
.hero-title{
    font-size: 2.62rem;
    font-weight: 700;
    color: black;
    margin-bottom: 18px;
}
#Empowering{
    color: orange;
}
#towards{
    color: rgba(1, 172, 253, 1);
}
.hero-description{
    color: black;
    margin-bottom: 18px;
}
.btn-secondery{
    width: 9.23rem;
    padding: 10px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.btn-secondery:hover{
    background-color: white;
    border: 1px solid orange;
    color:orange;
}

/* main section style part */

/* Standard Curriculum section style */
.Curriculum{
    background-image: url("../assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.Curriculum-title{
    font-size: 2.15rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 3.75rem;
}
.Curriculum-items{
    display: flex;
    gap: 21px;
    max-width: 67.5rem;
    margin: 0 auto;
    margin-bottom: 3.75rem;
}
.Curriculum-item{
    max-width: 17.20rem;
    text-align: center;
    padding: 39px 30px;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05);
    border-radius: 18.5px;
}
.item-img{
    margin-bottom: 24px;
}
.item-content{
    margin-bottom: 25px;
}
.item-content-title{
    font-size: 18.39px;
    font-weight: 700;
    color: rgba(32, 32, 32, 1);
    margin-bottom: 25px;
}
.item-content-description{
    font-size: 11.31px;
    font-weight: 500;
    font-family: "Raleway", serif;
}
.Read{
    font-size: 11.31px;
    font-weight: 500;
    color: skyblue;
    text-decoration: none;
    text-align: center;
}
#item-first{
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}
#item-second{
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}
#item-third{
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 10px;
    margin-bottom: 45px;
}
.left-arrow{
    max-width: 45px;
    max-height: 45px;
    padding: 15px 25px 15px 25px;
    background-color: orange;
    color: white;
    display: inline;
    border-radius: 50%;
}